@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body,
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    font-size: 13px;
}

.login-overall-div {
    width: 100%;
    height: 100vh;
    background: #f8f8fb;
    display: inline-block;
}

.login-header {
    display: flex;
    background-color: #d4dbf9!important;
}

.login-header-left {
    padding: 25px 10px;
}

.login-header-left h5 {
    font-size: 15px;
    color: #556ee6;
    font-weight: 500;
}

.login-header-left p {
    font-size: 14px;
    color: #556ee6;
    font-weight: 400;
}

.login-header-right {
    padding: 5px 10px 0px 0px;
}

.login-header-right img {
    width: 150px;
}

.login-btn {
    background: #556ee6;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.login-content {
    background: #ffffff;
    padding: 60px 0px 30px 0px;
    position: relative;
}

.login-content label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
}

.login-content input {
    font-size: 13px;
}

.company-logo {
    background: #eff2f7;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    top: -30px;
    left: 20px;
}

.forgot-password {
    color: #74788d;
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    margin-top: 15px;
}

.forgot-password:hover {
    text-decoration: none;
    color: #74788d;
}

.sign-up {
    font-size: 14px;
    color: #333333;
}

.text-primary {
    color: #556ee6 !important;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #1f3dd0 !important;
    text-decoration: none;
}

.login-main-div {
    margin-top: 5%;
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
}

.side-bar {
    width: 18%;
    height: 100%;
    background: #2a3042;
    position: fixed;
    left: 0px;
    top: 0px;
    /* overflow: auto; */
}

.sidebar-list {
    height: calc(100vh - 100px);
    overflow: hidden;
}

.main-content-section {
    width: 82%;
    background: #f8f8fb;
    height: 100%;
    float: right !important;
}

header {
    background: #ffffff;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
    margin-bottom: 20px;
}

ul.menu-list {
    margin-bottom: 0px;
}

ul.menu-list li {
    display: inline-block;
    margin-right: 25px;
}

li.language i,
li.profile-div i {
    font-size: 10px;
}

li.language,
li.profile-div,
li.notification a {
    cursor: pointer;
}

li.language span,
li.profile-div span {
    font-size: 13px;
}

li.notification {
    position: relative;
}

.profile-div img {
    height: 36px;
    width: 36px;
    background-color: #f6f6f6;
    padding: 3px;
    border-radius: 50%;
}

a.toggle-bar i {
    font-size: 18px;
    color: #555b6d;
    padding-top: 5px;
    cursor: pointer;
}

.notification span {
    padding: 4px 8px;
    background: #f46a6a;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -8px;
}

.total-earnings-text {
    font-size: 15px;
}

.total-earnings {
    font-size: 30px;
    margin-bottom: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 82%;
    z-index: 50;
    box-shadow: 0px 0px 10px #c4c4c4;
}


/* dashboard chart */

.card {
    margin-bottom: 25px;
    -webkit-box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    margin-bottom: 7px;
    font-weight: 600;
}

.font-size-14 {
    font-size: 14px !important;
}

table.zone-dashboard tbody tr td {
    padding: 18px 10px !important;
}

.page-title-box {
    padding-bottom: 24px;
}

.page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px !important;
}

.page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item>a {
    color: #495057;
}

.sidebar-header {
    padding: 0px;
    text-align: center;
    padding: 10px 0px;
}

.sidebar-header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}


/* settings  */

.setting-tabs {
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.setting-tabs .nav-pills .nav-link.active {
    background-color: #556ee6;
}

.setting-tabs .nav-pills .nav-link {
    margin-bottom: 24px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
}

.setting-tabs .nav-pills .nav-link.active .check-nav-icon,
.setting-tabs .nav-pills .nav-link.active p {
    color: #fff;
}

.setting-tabs .nav-pills .nav-link .check-nav-icon {
    font-size: 36px;
}


/* admin    */

.app-search {
    padding: calc(10px / 2) 0;
}

.app-type {
    padding: calc(8px / 2) 0;
}


/* .app-type-search {
    padding: calc(16px / 2) 0;
} */

.app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #f3f3f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
}

.app-search span {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 38px;
    left: 13px;
    top: 0;
    color: #74788d;
}

li.admin-dwnld i {
    padding: 12px 13px;
    background: rgba(85, 110, 230, 0.3);
    color: rgb(85, 110, 230);
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

li.add-admin i {
    padding: 12px 13px;
    background: rgba(52, 168, 82, 0.3);
    color: rgb(52, 168, 82);
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

ul.search-header {
    list-style-type: none;
}

ul.search-header li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    margin-bottom: 0px;
}

td.action .dropbtn {
    background-color: #4385f4;
    color: white;
    padding: 5px 15px;
    font-size: 10px;
    border: none;
    border-radius: 25px;
}

td.action .dropdown {
    position: relative;
    display: inline-block;
}

td.action .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -150px;
    top: -5px;
    border-radius: .25rem;
}

td.action .dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

td.action .dropdown-content a:hover {
    background-color: #f8f9fa;
}

td.action .dropdown:hover .dropdown-content {
    display: block;
    z-index: 10;
}

td.action .dropdown:hover .dropbtn {
    background-color: #176cc7;
}

.styled-select select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.profile-img .btn-file {
    position: relative;
    overflow: hidden;
}

.profile-img .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.profile-img #img-upload {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

.profile-img .input-group-btn {
    background: #eff2f7;
    border: 1px solid #ced4da;
}

.profile-img input {
    height: calc(1.5em + .94rem + 2px);
    border: 1px solid #ced4da;
}

ul.admin-add-btn {
    list-style-type: none;
}

ul.admin-add-btn li {
    display: inline-block;
}

.manage-driver a i,
a.download-view-doc i {
    padding: 10px;
    border-radius: 50%;
    background: rgba(255, 41, 136, 0.3);
    color: #ff2988;
}

.add-admin {
    position: relative;
}

.add-driver-hover {
    position: absolute;
    left: -50px;
    top: 60px;
    width: 150px;
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .5);
    background: #ffffff;
    z-index: 50;
    display: none;
}

.add-driver-hover li {
    padding: 10px;
    width: 100%;
}

.add-driver-hover li:hover {
    background: #f8f9fa;
}

.add-driver-hover li a {
    text-decoration: none;
    color: #333333;
}

span.mandatory {
    color: red;
}

ul.mang-viw-btn {
    list-style-type: none;
}

ul.mang-viw-btn li {
    display: inline-block;
    margin-right: 10px;
}

td.action .dropbtn.disabled,
td.action .dropbtn.disabled:hover {
    background: #4385f4;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

ul.upload-doc li {
    display: inline-flex;
}

ul.upload-doc {
    list-style-type: none;
    text-align: left;
    float: left;
    display: table;
    background: #eff2f7;
    border: 1px solid #ced4da;
    width: 270px;
    height: calc(1.4em + .94rem + 2px);
}

.doc-up-input .file-input-button {
    background: #eff2f7;
    border: 1px solid #ced4da;
}

.doc-dw-vw-de li.admin-dwnld i {
    padding: 10px;
}

.delete-icon a i {
    padding: 10px;
    border-radius: 50%;
    background: rgba(244, 106, 106, 0.3);
    color: #f46a6a;
}

ul.doc-dw-vw-de {
    list-style-type: none;
}

ul.doc-dw-vw-de li {
    display: inline-block;
    margin-right: 4px;
}

.transition-card {
    width: 20%;
    float: left;
    padding-right: 10px;
}
.alert.topings {
    position: fixed;
    top: 10%;
    width: 60%;
    margin-left: 10%;
    z-index: 100;
}

ul.pagination li {
    padding: 5px 10px;
    border: 1px solid #dee2e6;
}

ul.pagination li.active {
    background: #007bff;
    color: #fff;
}

ul.pagination li.active span {
    color: #fff;
}
.driver-transfer-details {
    box-shadow: 0px 0px 10px #ddd;
    display: table;
}

.driver-transfer-details .col-md-12 .col-md-6 {
    margin: 5px 0px;
}

.driver-transfer-details .col-md-12 {
    border-bottom: 1px solid #ddd;
    display: inline-block;
}

ul.driver-payment-transfer li a.nav-link.active {
    background: #556ee6;
    color: #fff;
}


/* datepicker  */

.date-pick {
    width: 100%;
    margin: 0 0px 0px 0px;
}

.date-pick span {
    padding: 5px 10px;
    background: #e9ecef;
    border: 1px solid #c4c4c4;
}

#datepicker>span:hover {
    cursor: pointer;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #007bff;
    background-image: -moz-linear-gradient(top, #007bff, #007bff);
    background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(top, #007bff, #007bff);
    background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
}


/* end datepicker  */

select {
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: #333 url(../images/down-arrow.png) no-repeat right;
    -webkit-appearance: none;
    /* background-position-x: 244px; */
    background-position: 97% 60%;
    padding-right: 25px !important;
}